<div class='list-index-content container'>
  <div class='span-5 wishlist-sidebar-list'>
    <h2>Lists</h2>
    <ul>
      <% @lists.each do |list| %>
        <li><%= list.name %></li>
      <% end %>
      <li class="add"><a href="/lists/new">Add a list</a></li>
    </ul>
  </div>
</div>
