$header-height: 105px;

.header-content {
  clear: both;
  height: $header-height;

  .authentication {
    line-height: $header-height;
    height: $header-height;
    padding: 0 20px;
    font-size: 16px;
  }

  .profile {
    .profile-name {
      padding-left: 20px;
    }
    .signout {
      font-size: 12px;
      line-height: 1em;
      margin-top: -40px;
    }
  }

  img {
    vertical-align: middle;
  }
}
